body{
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 25px;
}
.header{
    background-color: #1f2937;
    display: flex;
    color: white;
    justify-content: space-around;
}
.header-links{
    display: flex;
    gap: 30px;
    color: white;
}
.main{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    gap: 50px;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}
#hero{
    font-size: 48px;
    font-weight: extra bold;
    color: #f9faf8;
}
#hero-body{
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    max-width: 400px;
    text-align: center;

}
.button{
    height: 50px;
    width: 50px;
}
.info{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.info-image{
    display: flex;
    gap: 25px;

}
.sub-images{
    display: flex;
    flex-direction: column;
}
#info-tetx{
    text-align: center;
    background-color: blueviolet;
}
ul{
    text-decoration: none;
    list-style: none;
}
.test{
    display: flex;
    justify-content: center;
}
.quotes{
    
    
    background-color: #e5e7eb;
    
}
#quote-text{
    
    font-size: 36px;
    text-align: center;
}
#person{
    text-align: end;
    font-size: 20px;
    margin-right: 10px;
}
.signup{
    background-color: #3882f6;
    margin: 100px 200px;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
}
.button{
    background-color: #3882f6;
    align-self: center;
    width: 70px;
    height: 70px;
    font-size: medium;
    border-radius: 15px;
    border: 30px;
    border-width: 50px;
    
}
.footer{
    background-color: #1f2937;
    text-align: center;
    color: white;
    padding: 10px;
}